.footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
  background-image: url(./img/header.png);
}

.header {
  align-items: center;
}
#logo {
  position: absolute;
  top: 2%;
  left: 45%;
}

.background {
  position: relative;
  width: 100%;
}

#aboutButton {
  position: absolute;
  left: 85%;
  top: 4%;
}

#submit {
  position: absolute;
  left: 85%;
  top: 12%;
}

#contact {
  position: absolute;
  left: 85%;
  top: 8%;
}
