.footer {
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;

  background-image: url(./img/header.png);
}

.header {
  width: 100%;
  height: 180%;
}
#logo {
  position: absolute;
  top: 2%;
  left: 45%;
}
.turtle {
  background-image: url(./img/turtle.jpg);
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-image: no-repeat;
  background-size: 100% 100%;
}
.ship {
  background-image: url(./img/ship.jpg);
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-image: no-repeat;
  background-size: 100% 100%;
}
.shark {
  background-image: url(./img/shark.jpg);
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-image: no-repeat;
  background-size: 100% 100%;
}

.background {
  position: relative;
  width: 100%;
}

#aboutButton {
  background-color: #ff7729;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  top: 4%;
  left: 85%;
  width: 5%;
}

#submit {
  background-color: #ff7729;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  position: absolute;
  left: 85%;
  top: 10%;
}

#submit:hover {
  background-color: #fb5c00;
}
#aboutButton:hover {
  background-color: #fb5c00;
}
#contact:hover {
  background-color: #fb5c00;
}

.welcome {
  display: flexbox;
}
